.mat-card{
  width: 100%;
}
.mat-card-content{
  display: flex;
  justify-content: center;
  width: 100%;
}
form{
  width: 100%;
}
mat-form-field{
  width: 100%;
}
@media screen and (max-width: 1024px){
  .mat-card{
    width: 95%;
  }
}
