<div class="side-nav">

  <mat-nav-list class="nav-button">
    <mat-list class="user" *ngIf="token == true">
      <img mat-list-avatar src="../../../assets/img/Taclogo.png" alt="User Logo">
      <h2>Tac Handball</h2>
      <a (click)="logout()"><i class="material-icons">vpn_key</i>Déconnectez-vous</a>
    </mat-list>
    <mat-list class="user" *ngIf="token == false">
      <a routerLink="/login">Connectez-vous</a>
    </mat-list>
    <mat-nav-list class="navbutton">
      <!--<a mat-list-item routerLink="/"><span><mat-icon class="home">home</mat-icon>Accueil</span></a>//-->
      <a mat-list-item routerLink="/players"><span><mat-icon>people</mat-icon></span>Effectif</a>
      <a mat-list-item routerLink="/games"><span><mat-icon>event_avalaible</mat-icon></span>Matchs</a>
    </mat-nav-list>
  </mat-nav-list>
</div>
