<div class="pageheader">
</div>
<mat-card class="player-card">
  <mat-card-header>
      <h2>Joueurs</h2>
      <button mat-mini-fab class="addPlayerButton" (click)="onAddPlayer()"><i class="material-icons">add</i></button>
  </mat-card-header>
  <mat-card-content>
    <div class="card-part">
      <mat-list>
        <mat-list-item *ngFor="let player of (playersState | async).players">
          <img matListAvatar src="../../assets/img/avatar.png" [alt]="'photo de' + player.name">
          <p matLine> {{player.name}} {{player.surname}}, N°{{player.number}}, {{player.poste}}</p>
          <div class="button-row">
            <button mat-icon-button (click)="onListPlayerClicked(player.id)" style="cursor: pointer"><span class="material-icons">info_outline</span></button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="card-part">
      <div class="cta" *ngIf="openPart2">
        <i class="material-icons">person</i>
        <h2>Selectionnez un joueur</h2>
      </div>
      <router-outlet *ngIf="!openPart2"></router-outlet>
    </div>
  </mat-card-content>
</mat-card>
